body { 
    color: white;
    background-color: black;
}

h1 {
    front-family: arial;
     padding: 30px;
    
}
.center {
    text-align: center;
}

body {
    color: white;
    background-color: black;
}